{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true
  },
  "rules": {
    "no-var": "error",
    "no-plusplus": ["error", {
      "allowForLoopAfterthoughts": true
    }],
    "linebreak-style": 0,
    "prefer-arrow-callback": ["error", {
      "allowNamedFunctions": true
    }]
  },
  "extends": ["airbnb-base"]
}
